<div class="col-xs-10 col-xs offset-1 about">
<h1>About Splurty</h1>

<p> Splurty was built as a database-powered quotes generator application with a slick, mobile first design. Built with Ruby on Rails, HTML, CSS3 and GitHub and Heroku. <p>This application is all about the advice of life and a collection of quotes giving inspiration, humor or motivation. Go ahead, add your favorite quotes!</p>
<br />
<br />
<div class="col-xs-12 col-sm-4">
	<%= image_tag 'sandra.jpg', :class => 'img-responsive' %>
</div>
<div class="col-xs-12 col-sm-7 col-offset-1">
<h2 class="text-center">Sandra Harrasser</h2>

<p>Sandra Harrasser is a developer that has expanded her craft of graphic and web design into programming and building web applications that are user friendly, visually stunning and highly functional. Visit her coding zen space on GitHub(<a target="_blank" href="http://github.com/sanzencode"<a>Sanzencode</a>) or check her website for her latest works (<a target="_blank" href="http://sandraharrasser.com"<a>Here</a>). Happy coding! </p> 
</div>
<br class="clear" />
